body {
  background-color: rgb(255, 75, 75);
  color: rgb(192, 192, 192);
  text-align: center;
}

.cell {
  width:25px;
  height: 25px;
  text-align: center;
  font-size: 1.5em;
}
td {
  border: 2px solid red;
  border-collapse: collapse;
}
table {
  margin: auto;
  border-collapse: collapse;
  /* height: 500vh; */
}
.cell{
  font-size: 20px;
  text-align: center;    
}
.cell :focus{
  opacity: 1;
}
.img{
  max-height:100px; 
  max-width:100px;
}
.reset{
  display: none;
}
.gameboard{
  margin: auto;
  /* display: inline-block; */
    border: dotted 4px black;
}
.hints{
  float: left;
}

.safe{
  float: right;
}
.emoji{
  margin:auto;
}